.container {
  display: grid;
  grid: auto / 1fr 2fr;
  justify-content: left;
  gap: 3rem;
}

.form {
  display: grid;
  align-self: flex-start;
  gap: 2.5rem;
}
.label {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}
.fullName {
  display: flex;
}
.fullName div + div {
  margin-left: 0.5rem;
}
.numberOfJokes {
  display: flex;
  flex-direction: column;
}
.jokes {
  display: flex;
  text-align: justify;
}
.jokes .joke + .joke {
  margin-top: 2rem;
}

.error {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #f00;
}
