.container {
  display: grid;
  grid: auto / 1fr 2fr;
  gap: 3rem;
  justify-content: left;
}
.form {
  display: grid;
  gap: 2.5rem;
}
.label {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}
.fullName {
  display: flex;
}
.fullName div + div {
  margin-left: 0.5rem;
}
.jokes {
  display: flex;
  text-align: justify;
}
.jokes .joke + .joke {
  margin-top: 2rem;
}
